body {
  margin: 0;
  padding:0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212121;
}

html {
  font-family: 'Heebo', sans-serif;
}

@font-face {
  font-family: Butler;
  src: url(./assets/fonts/Butler_Bold.otf);
  font-weight: bold;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}


